@import "global";


@media screen and (max-width: 1024px) {
    main .index section {
        .heroHome {
            .videoHome {
                height: 50vh;
                margin-top: 95px;
            }
        }
    }

    .ctaApp {

        height: auto;

        .contentCtaApp {
            .benefitsApp {
                display: flex;
                flex-direction: column;
            }
        }

        .imgApp {
            display: none;
        }


        .contentCtaApp {
            width: 100%;
        }

    }

    .ctaNosotros {
        .contentNosotros {
            width: 100vw;
        }

        .imgNosotros {
            display: none;
        }
    }

    /* entre 555px y 1020px se repite la imagen hacer media query */

    .ctaRutinas {
        height: 100vh;
        background-image: url("../assets/img/homeRutinas.jpg");
        background-position: 70% 40%;

        .contentCtaRutinas {
            width: 90%;
        }


    }


    .ctaCursos {
        object-fit: fill;
        background-position: center;
        text-shadow: 2px #000000;

        .contentCtaCursos {
            width: 100%;
            color: white;
            min-height: 100vh;

        }
    }




    .datosYFormularioContacto {
        margin-top: 95px;
        margin-bottom: 50px;
        .contenedorFormularioContacto{
            .contenedorDatosContacto{
                .datosContacto {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }
    
            }
        }
        

        

        .contenedorFormularioContacto {
            display: flex;
            flex-direction: column;

            .formularioContacto {
                margin-top: 50px;
                margin-left: 50px;
                width: 90vw;
                

                .formulario .button {
                    width: 50%;
                }
            }

        }

    }

    .galeriaActividades {
        background-color: $fondoOscuro;
        width: 100vw;
        height: 100vh;

        .contentGaleriaActividades {
            height: 100%;
        }
    }

    .galeríaCursos {
        
        
        background-color: $fondoOscuro;

        .contentGaleriaCursos {
            display: grid;
            grid-template-columns: repeat(2, 1fr) ;
            
        }

    }


    .historia {
        .bannerHistoria {

            display: flex;
            flex-direction: column;

            .imgBannerHistoria {
                width: 100vw;
            }

            .contentBanner {
                width: 100vw;
            }


        }

    }

    .heroNosotros{
        background-size: cover;
        
    }




}