@import "global";
@import "footer";


.heroNosotros {
    max-width: 100vw;
    min-height: 75vh;
    background-image: url("../assets/img/nosotrosHero.jpg");
    background-size: 100%;
    background-position: 30% 30%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    margin-top: 95px;
}

.bannerRedesSociales {
    background: rgb(250, 207, 2);
    background: linear-gradient(to right, rgba(250, 207, 2, 1) 0%, rgb(230, 159, 28) 35%, rgba(214, 177, 0, 1));
    background-size: 500%;
    padding-top: 15px;
    padding-bottom: 15px;
    row-gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fondoBannerRedesSociales 10s infinite;
    @keyframes fondoBannerRedesSociales {
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 50%;
                }
        100%{
            background-color: 0% 50%;
        }
    }
  
    .socialMedia{
        display: flex;
        gap: 25px;
        
    }
    
   
    
}


.historia {
    width: 100vw;
    display: flex;
    flex-direction: column;

    .bannerHistoria {
        display: flex;
        flex-direction: row;

        .contentBanner {
            background-color: #fafafa;
            background-size: cover;
            width: 50vw;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .imgBannerHistoria {
            width: 50vw;
        }

    }
}